<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-{{ this.cid }}">
    <h4 class="panel-title">
      <input type="checkbox" data-hook="field-selected" name="fields" value="{{ this.model.name }}" checked="checked">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ this.cid }}" aria-expanded="false" aria-controls="#collapse-{{ this.cid }}">
        {{ this.model.name }}
      </a>
    </h4>
  </div>
  <div data-field="{{ this.name }}" id="collapse-{{ this.cid }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ this.cid }}">
    <div class="panel-body">
      <p><code>{{ this.model.name }}</code> is a <code>{{ this.model.friendlyType }}</code> field.</p>

      <h4>Filters</h4>
      <form class="form-inline">
        <div class="form-group">
          <code>{{ this.model.name }}</code>
        </div>
        <div class="form-group">
          <label class="sr-only" for="operator">Operator</label>
          <select name="operator" id="operator" class="form-control" data-hook="filter-operator">
            <option>=</option>
            <option>&lt;</option>
            <option>&gt;</option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="value">Value</label>
          <input type="text" class="form-control" id="value" data-hook="filter-value">
        </div>
      </form>
    </div>
  </div>
</div>
