<div id="main" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <label for="service-url">Service URL</label>
        <div class="input-group">
          <input id="service-url" data-hook="service-url" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" aria-label="Search"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-sm-6" data-hook="field-list"></div>
    <div class="col-sm-6" data-hook="query"></div>
</div>
