<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Fields</a></li>
    <li role="presentation"><a href="#aggregation" aria-controls="aggregation" role="tab" data-toggle="tab">Aggregation</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="fields" data-hook="field-list"></div>
    <div role="tabpanel" class="tab-pane" id="aggregation" data-hook="aggregation"></div>
  </div>

</div>